<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
 id="WebApp_ID" version="2.5">
  <display-name>TP1bis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>societe</param-name>
    <param-value>GK</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FormLivre1</display-name>
    <servlet-name>FormLivre1</servlet-name>
    <servlet-class>tp1Bis.FormLivre1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormLivre1</servlet-name>
    <url-pattern>/FormLivre1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtlLivre1</display-name>
    <servlet-name>CtlLivre1</servlet-name>
    <servlet-class>tp1Bis.CtlLivre1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtlLivre1</servlet-name>
    <url-pattern>/CtlLivre1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>FormLivre2</servlet-name>
    <servlet-class>tp1Bis.FormLivre2</servlet-class>
    <init-param>
      <param-name>auteur</param-name>
      <param-value> moha </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormLivre2</servlet-name>
    <url-pattern>/FormLivre2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServer</display-name>
    <servlet-name>InfoServer</servlet-name>
    <servlet-class>tp1Bis.InfoServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServer</servlet-name>
    <url-pattern>/InfoServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormLogin</display-name>
    <servlet-name>FormLogin</servlet-name>
    <servlet-class>tp3.FormLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormLogin</servlet-name>
    <url-pattern>/FormLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controleur</display-name>
    <servlet-name>Controleur</servlet-name>
    <servlet-class>tp3.Controleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur</servlet-name>
    <url-pattern>/Controleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormLivre</display-name>
    <servlet-name>FormLivre</servlet-name>
    <servlet-class>tp3.FormLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormLivre</servlet-name>
    <url-pattern>/FormLivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtlLogin</display-name>
    <servlet-name>CtlLogin</servlet-name>
    <servlet-class>tp3.CtlLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtlLogin</servlet-name>
    <url-pattern>/CtlLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtlLivre</display-name>
    <servlet-name>CtlLivre</servlet-name>
    <servlet-class>tp3.CtlLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtlLivre</servlet-name>
    <url-pattern>/CtlLivre</url-pattern>
  </servlet-mapping>
  
 <!--  <taglib>
  	<taglib-uri>/exemples</taglib-uri>
  	<taglib-location>/WEB-INF/exemples.tld</taglib-location>
  </taglib> -->
  
  
  
  
  
</web-app>